#sidebar{
    width: 240px
}

#twitter-icon{
    color: #1DA1F2;
    font-size: 35px;
    margin: 20px 20px 20px 20px;
}

#sidebar-option-container{
    margin: 50px 0px 0px 0px;
}


#sidebar-option button{
    display: flex; 
    align-items: center;
    padding: 15px 0px 15px 20px;
    background-color: white;
    border: 0px;
    width: 240px;
}

#sidebar-option button:hover{
    background-color: #E1E8ED;
}

#sidebar-option button:focus {
    border-right: 2px #1DA1F2 solid;
}

#sidebar-option button:focus #option-icon, #sidebar-option button:focus span{
    color: #1DA1F2;
}


#option-icon{
    color: #AAB8C2;
    font-size: 25px;
}

#tweet-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tweet-button{
    margin-top: 50px;
    border-radius: 50px;
    background-color: #1DA1F2;
    height: 45px;
    width: 175px;
    border: none;
    color: white;
}