*{
  font-family: 'Chirp', sans-serif;
  font-family: 'ChirpExtended', sans-serif;
}

body {
  margin: 0px;
}

main {
  margin-left: 240px;
}

aside {
  border: 1px gray solid;
  margin: 0;
  padding: 0;
  position:fixed;
  height: 100vh;
}

.main-container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(2);
}

.user-container{
  grid-row: 1;
}

.feed-container{
  grid-row: span 2;
}

.trend-container{
  grid-column: 3;
  grid-row: 1;
}

.navCard-container{
  grid-column: 1;
  grid-row: 2;
}

.recommendation-container{
  grid-column: 3;
  grid-row: 2;
}

#user-data-container{
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 40px 40px;
}

